asgiref==3.11.1
Django==4.2.11
django-cors-headers==4.9.0
django-stubs==4.2.7
django-stubs-ext==4.2.7
djangorestframework==3.15.2
djangorestframework-stubs==3.14.5
djangorestframework_simplejwt==5.5.1
psycopg2-binary==2.9.11
PyJWT==2.12.1
python-dotenv==1.2.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0